In [50]:
import pandas as pd
import tqdm
import matplotlib as plt

In [51]:
# write the query to get the data from Google BigQuery
sql = """
SELECT
  *
FROM
  `bigquery-public-data.covid19_jhu_csse.confirmed_cases`
"""

In [52]:
# use the method read_gbq to load the data to pandas
df = pd.read_gbq(sql, project_id='data-science-personal',dialect='standard')

c:\users\joao.manso\appdata\local\programs\python\python38\lib\site-packages\google\cloud\bigquery\table.py:1726: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  record_batch = self.to_arrow(

In [53]:
# define a new dataframe with the new cases in Portugal
new_cases_portugal = df[df['country_region'] == 'Portugal']

In [55]:
new_cases_portugal

,province_state,country_region,latitude,longitude,location_geom,_1_22_20,_1_23_20,_1_24_20,_1_25_20,_1_26_20,...,_3_21_20,_3_22_20,_3_23_20,_3_24_20,_3_25_20,_3_26_20,_3_27_20,_3_28_20,_3_29_20,_3_30_20
77,None,Portugal,39.3999,-8.2245,POINT(-8.2245 39.3999),0,0,0,0,0,...,1280,1600,2060,2362,2995,3544,4268,5170,5962,6408

In [48]:
test = ''

                                    77
province_state                    None
country_region                Portugal
latitude                       39.3999
longitude                      -8.2245
location_geom   POINT(-8.2245 39.3999)
...                                ...
_3_26_20                          3544
_3_27_20                          4268
_3_28_20                          5170
_3_29_20                          5962
_3_30_20                          6408

[74 rows x 1 columns]