In [1]:
1 / 2

0.5

In [2]:
2 ** 4

16

In [3]:
var = 2

In [4]:
var * 3

6

In [5]:
x = 'Hello'

In [7]:
x

'Hello'

In [8]:
print(x)

Hello

In [9]:
age = 25
name = 'João'

In [10]:
'My name is {} and i am {} year old'.format(name, age)

'My name is João and i am 25 year old'

In [11]:
x = 'hello'

In [14]:
print(x[2:4])

ll

In [16]:
notRelevant = [2,10]

In [17]:
notRelevant

[2, 10]

In [18]:
notRelevant.append('d')

In [19]:
notRelevant

[2, 10, 'd']

In [20]:
notRelevant[0] = 'new'

In [21]:
notRelevant

['new', 10, 'd']

In [23]:
notRelevant[0] = [1, 2]

In [24]:
notRelevant

[[1, 2], 10, 'd']

In [26]:
notRelevant[0][1]

2

In [35]:
dict = {'Name': ['João', 'Afonso', 'Aguiar', 'Shaun'],'Age': [25, 24, 25, 28]}

In [39]:
print(dict['Name'][1])

Afonso

In [43]:
1 < 3 == 1 > 0

False

In [45]:
1 > 0 or 5 < 4

True

In [47]:
if 1 < 2:
    print('yep!')
else: print('Nop"')

yep!

In [49]:
if 1 == 2:
    print('First')
    
else: print('Last')

Last

In [50]:
if 1 == 2:
    print('First')
    
elif 3 == 3:
    print('Middle')
    
else: print('Last')

Middle

In [51]:
seq = [1,2,3,4,5]

In [52]:
for item in seq:
    print(item)

1
2
3
4
5

In [54]:
for i in seq:
    if i % 2 == 0:
        print(i)

2
4

In [55]:
i = 1

while i < 10:
    print(i)
    i = i +1

1
2
3
4
5
6
7
8
9

In [57]:
for i in range(1,25):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24

In [59]:
x = [1,2,3,4]
out = []

In [60]:
for i in x:
    out.append(i)

In [61]:
print(out)

[1, 2, 3, 4]

In [62]:
out2 = []

In [65]:
[i ** 2 for i in x]

[1, 4, 9, 16]

In [70]:
def my_func(name):
    print('Hello ' + name)

In [71]:
my_func('João')

Hello João

In [81]:
def is_even(number):
    """
    This function determines whether a number is even
    
    """
    if number % 2 == 0:
        print(str(number) + ' is even!!')
    else: print('That number is not even!!')

In [82]:
is_even(4)

4 is even!!

In [101]:
seq = [1,2,3,4,5]

In [102]:
def times2(var):
    return var*2

In [103]:
t = lambda var:var * 2

In [104]:
list(map(lambda var: var * 2, seq))

TypeError: 'list' object is not callable

In [105]:
seq = [1,2,3,4,5]
list(filter(lambda num: num % 2 == 0, seq))

TypeError: 'list' object is not callable

In [106]:
# methods
s = 'Hello my name is Sam'

In [107]:
s.lower()

'hello my name is sam'

In [109]:
s.upper()

'HELLO MY NAME IS SAM'

In [110]:
tweet = 'go sports! #sports'

In [111]:
tweet.split('#')

['go sports! ', 'sports']

In [112]:
d = {'k1': 1, 'k2': 2}

In [113]:
d

{'k1': 1, 'k2': 2}

In [114]:
d.keys()

dict_keys(['k1', 'k2'])

In [116]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [117]:
d.values()

dict_values([1, 2])

In [118]:
lst = [1,2,3]

In [119]:
lst.pop()

3

In [120]:
lst

[1, 2]

In [121]:
item = lst.pop()

In [122]:
lst = [1,2,3,4,5]

In [123]:
item = lst.pop()

In [124]:
item

5

In [125]:
1 in lst

True

In [126]:
x in lst

False

In [127]:
x = [(1,2), (3,4), (5,6)]

In [131]:
for a, b in x:
    print(b)

2
4
6